{% extends 'layouts/base.html' %}

{% block title %}Interoperabilidad Clínica{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        body {
            background-color: #F4F6F6;
        }
    </style>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 65vh;">
    <div class="card mx-auto" style="width: 50rem;">
        <div class="card-body">
            <h1 class="card-title text-center" style="font-family: bebas;"><span
                    style="color: #1F618D;">Harmony</span><span style="color: #3498DB;">Care</span></h1>
                    <p class="custom-text" style="font-family: bebas;">Te damos la bienvenida a HarmonyCare, la solucion definitiva para el almacenamiento y
                        manejo de datos en el marco de la Interoperabilidad de la Historia Clinica. Nos regimos rigurosamente
                        por las normativas de la Resolucion 866 del 2021 del Ministerio de Salud de la Republica de Colombia. En
                        esta etapa inicial, nuestro enfoque se centra en el desarrollo de herramientas para el ingreso,
                        actualizacion y eliminacion de datos, asegurando una administracion eficaz y protegida de la informacion
                        clinica.</p>
        </div>
    </div>
</div>
{% endblock %}