{% extends 'layouts/base.html' %}

{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F4F6F6;
        }
    </style>
{% endblock %}

{% block title %}Paciente{% endblock %}

{% block content %}
<div class="container mb-5">
    <h1 class="text-center my-4">Paciente</h1>
    <form method="post">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">
                <h2>Formulario de Paciente</h2>
            </div>
            <div class="card-body">
                {{ pacient_form.as_p }}
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h2>Formulario de Contacto con el Servicio de Salud</h2>
            </div>
            <div class="card-body">
                {{ contact_form.as_p }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            <img src="{% static 'img/save.png' %}" alt="Guardar" style="width: 40px; height: 40px;">
        </button> 
    </form>
</div>
{% endblock %}